{% extends 'screens/admin/base.html'%}

{% block content %}
<div class="xl:ml-64 h-full max-h-screen mt-10 relative z-20">
    <div >
        <h1 class="ml-10 mr-6 font-bold text-lg text-white">Daftar Pengumuman</h1>
        <div class="mt-5 w-full px-10 flex flex-wrap rounded-xl">
            <div class="bg-white w-full rounded-xl p-5">
                <h1 class="font-semibold text-size-xl">Daftar Pengumuman</h1>
                <div class="overflow-x-auto relative mt-5">
                    <table class="w-full text-sm text-left text-gray-500  ">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 rounded-t-xl ">
                            <tr>
                                <th scope="col" class="py-3 px-6">
                                    Judul
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    Penulis
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    Dibuat Pada
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    Aksi
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for announcement in announcements %}
                            <tr class="bg-white border-b ">
                                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap ">
                                    {{announcement.title}}
                                </th>
                                <td class="py-4 px-6">
                                    {{announcement.author}}
                                </td>
                                <td class="py-4 px-6">
                                    {{announcement.posted_at}}
                                </td>
                                <td class="py-4 px-6 flex space-x-2 items-center">
                                    <a href="/admin/announcements/edit/{{ announcement.id }}">
                                        <i class="fa-solid fa-edit"></i>
                                    </a>
                                    <form action="/admin/announcements/delete/{{ announcement.id }}" method="post">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                        <button type="submit">
                                            <i class="fa-solid fa-trash cursor-pointer hover:text-red-700"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <a href="/admin/announcements/new" class="w-14 h-14  rounded-full bg-white shadow-lg fixed bottom-8 right-8 flex items-center justify-center cursor-pointer">
        <i class="fa-solid fa-plus text-2xl"></i>
    </a>
    </div>

{% endblock %}