{% extends 'screens/admin/base.html'%}

{% block content %}
<div class="xl:ml-64 h-full max-h-screen mt-10 relative z-20">
    <div >
        <h1 class="ml-10 mr-6 font-bold text-lg text-white">Edit Wisata</h1>
        <div class="mt-5 w-full px-10 flex flex-wrap rounded-xl">
            <div class="bg-white w-full rounded-xl p-5">
                <h1 class="font-semibold text-size-xl">Edit Wisata</h1>
                <form action="/admin/tourisms/edit/{{ id }}" method="post" class="mt-10">
                    {% if error %}
                        <p class="text-red-500 font-medium mb-5">{{error}}</p>
                    {% endif %}
                    <div class="flex flex-col">
                        {{ form.csrf_token() }}
                        {{ form.title.label(class_="font-semibold")}}
                        {{ form.title(class_="mt-3 bg-[#efefef] outline-none py-2 px-5 rounded-md text-soft-black", placeholder="johndoe")}}
                        {{ form.cover.label(class_="font-semibold mt-5")}}
                        {{ form.cover(class_="mt-3 bg-[#efefef] outline-none py-2 px-5 rounded-md text-soft-black", placeholder="John Doe")}}
                        {{ form.content.label(class_="font-semibold mt-5")}}
                        {{ form.content(class_="mt-3 bg-[#efefef] outline-none py-2 px-5 rounded-md text-soft-black", placeholder="johnydoe")}}
                        {{ form.category() }}
                        <button type="submit" class=" inline-block ml-auto bg-green-500 py-3 text-white font-bold rounded-md mt-10 rounded-md self-start px-5">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{ ckeditor.load() }}
{{ ckeditor.config(name='content') }}

{% endblock %}