{% extends 'base.html' %}

{% block title %}
    <title>Beranda</title>
{% endblock %}


{% block content %}
    <div class="hero">
        <div class="hero-title">
            <h1 id="welcome " class="font-bold text-3xl">Selamat Datang di</h1>
            <h1 class="text-5xl font-bold" >Desa Pattontongan</h1>
            <div id="liner" class="mt-5"></div>
        </div>
    </div>

    <div class="announcement">
        <div class="announcement-content">
            <h2 class="font-bold text-3xl mb-3">{{ announcement.title }}</h2>

            <p>{{ announcement.content }}</p>
        </div>
        <div class="announcement-cover">
            <img src="{{ url_for('static', filename='img/Spanduk-1.png') }}" />
        </div>
    </div>
    <div class="other-news">
        <h3 class="font-bold text-2xl mb-3">Berita Lainnya</h3>
        <div class="news-wrapper">
            {% for berita in news %}
            <a href="/berita/{{ berita.slug }}" class="link-dark">
                <div class="news-card shadow-md p-3  rounded-md">
                    <!-- <img src="{{url_for('static', filename='img/gor_pattontongan.jpg')}}"/> -->
                    <img src="{{ berita.cover }}"/>
                    <h5 class="card-title font-bold text-lg">{{ berita.title }}</h5>
                    <p class="card-content">{{ berita.content }}...</p>
                    <div class="card-author mt-3">
                        <div class="author-img"></div>
                        <div class="author-detail" style="flex: 1;">
                            <strong>{{ berita.author }}</strong>
                            <div style="display: flex;  justify-content: space-between;">
                                <span>{{ berita.posted_at.strftime('%Y-%m-%d') }}</span>
                                <strong>Lanjut baca </strong>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
