{% extends 'base.html' %}

{% block title %}
    <title>List Berita</title>
{% endblock %}

{% block content %}
<div id="carouselExampleIndicators" class="carousel slide w-screen max-w-full h-screen" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for carousel in carousels %}
            {% if loop.first %}
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            {% else %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{loop.index0}}"></li>
            {% endif %}
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for carousel in carousels %}
            {% if loop.first %}
                <div class="carousel-item active">
                    <div class="relative">
                        <img class="d-block w-screen h-screen object-cover" src="{{carousel.cover}}" alt="First slide">
                        <div class="bg-[#000000b3] bottom-0 left-0 right-0 top-0 absolute"></div>
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <a class="text-4xl font-bold mb-10" href="/berita/{{ carousel.slug }}">{{carousel.title}}</a>
                    </div>
                </div>
            {% else %}
                <div class="carousel-item">
                    <div class="relative">
                        <img class="d-block w-screen h-screen object-cover" src="{{carousel.cover}}" alt="First slide">
                        <div class="bg-[#000000b3] bottom-0 left-0 right-0 top-0 absolute"></div>
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <a class="text-4xl font-bold mb-10" href="/berita/{{ carousel.slug }}">{{carousel.title}}</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <main class="bg-white">
    <div class="w-5/6 mx-auto py-10">
        <h1 class="font-bold text-2xl">Berita Lainnya</h1>

        <div class="row mt-10">
            {% for berita in news %}
            <div class="col-12 col-sm-6 col-md-4 p-2">
                <div class="shadow-md  bg-white p-3 rounded-md">
                    <!-- <img src="{{url_for('static', filename='img/gor_pattontongan.jpg')}}"/> -->
                    <img src="{{ berita.cover }}" class="aspect-[16/9]"/>
                    <h5 class="card-title font-bold text-lg">{{ berita.title }}</h5>
                    <p class="card-content">{{ berita.content }}...</p>
                    <div class="card-author mt-3">
                        <div class="author-img"></div>
                        <div class="author-detail" style="flex: 1;">
                            <strong>{{ berita.author }}</strong>
                            <div style="display: flex;  justify-content: space-between;">
                                <span>{{ berita.posted_at.strftime('%Y-%m-%d') }}</span>
                                <a href="/berita/{{ berita.slug }}" class="font-bold">Lanjut Baca</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
  </main>
  {{pagination.links}}
{% endblock %}