{% extends 'base.html' %}

{% block title %}
    <title>Berita | {{data.title}}</title>
{% endblock %}

{% block content %}
<div class="relative">
    <img src="{{ data.cover }}" alt="no image" class="w-screen max-w-full h-screen object-cover">
    <div class="absolute bg-[#000000b3] right-0 left-0 top-0 bottom-0"></div>
    </div>
    <div class=" -mt-56 relative w-5/6 mx-auto">
        <h5 class="text-4xl font-bold text-white">{{ data.title }}</h5>
        <div class="bg-white mt-10 py-10 px-10 rounded-md shadow-md">
        <div class="flex items-center space-x-3">
            <div class="flex items-center space-x-1">
                <i class="fa-solid fa-user text-[#0c4433]"></i>
                <span>{{ data.author }}</span>
            </div>
            <div class="flex items-center space-x-1">
                <i class="fa-solid fa-calendar text-[#0c4433]"></i>
                <span>{{ data.posted_at.strftime('%Y-%m-%d') }}</span>
            </div>
        </div>  
        <p class="mt-8">{{ data.content|safe }}</p>
        </div>
    </div>
    
    <div class="flex items-center w-5/6 mx-auto my-10">
        <h3 class="font-bold text-2xl mb-3 flex-1 text-center">Berita Lainnya</h3>
        <div style="flex: 2;" class="flex justify-between">
            {% for berita in another_news %}
            
                <div class="news-card shadow-md bg-white p-3 w-[250px] mx-1  rounded-md">
                    <!-- <img src="{{url_for('static', filename='img/gor_pattontongan.jpg')}}"/> -->
                    <img src="{{ berita.cover }}"/>
                    <h5 class="card-title font-bold text-lg">{{ berita.title }}</h5>
                    <p class="card-content">{{ berita.content }}...</p>
                    <div class="card-author mt-3">
                        <div class="author-img"></div>
                        <div class="author-detail" style="flex: 1;">
                            <strong>{{ berita.author }}</strong>
                            <div style="display: flex;  justify-content: space-between;">
                                <span>{{ berita.posted_at.strftime('%Y-%m-%d') }}</span>
                                <a href="/berita/{{ berita.slug }}" class="font-bold">Lanjut Baca</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}
